@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>MedBrat - это сервис для онлайн записи на приём к врачу, а также для удобного отслеживание прогресса лечения.</p>
    <p>Также с помощью этого сервиса вы можете запросить справку о лечении или больничном и получить её, не выходя из дома.</p>
</div>